<h3 class="mb-3">Create Account</h3>

<form method="POST" action="/register">
  <input class="form-control mb-2" name="name" placeholder="Full Name" required>
  <input class="form-control mb-2" name="email" placeholder="Email" required>
  <input class="form-control mb-2" type="password" name="password" placeholder="Password" required>
  <button class="btn btn-dark w-100">Register</button>
</form>

<a href="/login" class="d-block mt-3">Already have account? Login</a>
